{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		{% else %}
			<main class="px-3">
				<h1>Ticketing system</h1>
				<p class="lead">Sign In to enter into your space, if you're not a member yet please sign up.</p>
				<p class="lead">
					<a href="{{ path('app_login')}}" class="btn btn-lg btn-secondary fw-bold border-white bg-blue">Sign-in</a>
				</p>
			</main>
	{% endif %}

{% endblock %}
