{% extends 'collaborator.html.twig' %}

{% block title %}Hello TicketController!
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-6 mx-auto">
			<h1>Add Ticket</h1>
			{{ form(form) }}

			</div>
		</div>
	{% endblock %}
