{% extends 'collaborator.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-6 mx-auto">
			<h1>Edit Ticket</h1>
			{{ form(form) }}

			</div>
		</div>
	{% endblock %}
