{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!
{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="d-flex justify-content-center row">
		<div class="d-flex flex-column col-md-8">
			<h2>Add Comment</h2>
			<div class="grix xs2 sm3 gutter-0 card">
				<div class="col-xs2 col-sm3">
					{{ form(commentForm) }}
					</div>
				</divW {% endblock %}
