{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<form>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Type</label>
				<select class="form-control" id="exampleFormControlSelect1">
					<option disabled selected value>
						-- select an option --
					</option>
					<option>demande</option>
					<option>incident</option>
				</select>
				<label for="exampleFormControlSelect2">Category</label>
				<select class="form-control" id="exampleFormControlSelect2">
					<option disabled selected value>
						-- select an option --
					</option>
					<option>Licence d’un logiciel</option>
					<option>un matériel</option>
					<option>un accès</option>
				</select>
				<label for="exampleFormControlSelect3">Title</label>
				<input type="text" class="form-control" id="exampleFormControlInput1">
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Description</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
				<div class="form-group">
					<label for="exampleFormControlFile1">Attachment(pdf,word,jpg..)</label>
					<input type="file" class="form-control-file" id="exampleFormControlFile1">
				</div>
				<label for="exampleFormControlSelect4">Emergency Level</label>
				<select class="form-control" id="exampleFormControlSelect4">
					<option disabled selected value>
						-- select an option --
					</option>
					<option>Intermediary</option>
					<option>Urgent</option>
					<option>Very urgent</option>
					<option>Low</option>
					<option>Bloking</option>
				</select>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	{% endblock %}
